<mat-toolbar class="navigation">
    <span class="brand-wrapper">
        <img src="assets/logo.svg" alt="eMCreative" class="logo">
        <h3>{{ title }}</h3>
    </span>
    <span class="nav-spacer"></span>
    <button mat-button routerLink="/">
        <mat-icon>cookie</mat-icon>
        Search Recipes
    </button>
</mat-toolbar>

<div class="main">
    <div class="layout-container">
        <router-outlet #o="outlet"></router-outlet>
    </div>          
</div>

<mat-toolbar class="footer">
    <span>made with 💜 by&nbsp;<a href="https://emcreative.uk" target="_blank">this person</a></span>
</mat-toolbar>